.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 1px;
    border-bottom-color: rgb(235, 235, 235);
    border-bottom-style: solid;
    background-color: white;
}
.header .header__div{
    width : 920px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__div .header__title{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 20px;
}
.header__div .header__nav{
    display: flex;
    align-items: center;
}
.header__div .sidebar_upper{
    // width: 500px;
    display: flex;
    // align-items: right;
    // font-weight: 700;
    // padding-bottom: 20px;
}
.header__div .sidebar_upper .sidebar_upper_nav{
    display: flex;
}

.header__div .sidebar_upper .sidebar_upper_nav li{
    display: flex;
    padding-right: 30px;
    font-size: 16px;
}
